*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box; 
   font-family: 'Times New Roman', Times, serif;           
}

body{
    background-color: #dc7b3c;           
}

.container
{
  justify-content: center;
  align-items: center;
  display: flex;
  
               
}

.maindiv{
    height: 230px;
    width: 500px;
    background-color: white;
    margin-top: 200px; 
    text-align: center;
    padding: 20px;   
    border-radius: 10px;     
}

input{
    margin-top: 25px;  
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: orange; 
    margin-right: 10px;
    font-size: 20px;        
}

p{
   margin-top: 20px;
   font-size: 20px;
   margin-right: 120px;            
}



/* CSS */
.btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

